@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
    font-family: "RnM-Regular";
    src: local("Hanaleifill-Regular"),
     url("./assets/fonts/HanaleiFill-Regular.ttf") format("truetype");
    font-weight: regular;
   }
  